.update {
    display: inline-block;
    background-image: url('https://e7.pngegg.com/pngimages/966/555/png-clipart-computer-icons-drawing-editing-pencil-pencil-angle-pencil.png');
    height: 10px;
    width: 10px;
}